node_modules
.env

*.bak
*.db
*.pyc
*.sqllite
*.swp
.coverage
*.DS_Store
.eggs
.idea
.python-version
.tox
.vscode
_build
_images
_modules
_static
build
app.db
changelog.sh
dist
dump.rdb
env
env_py3
envpy3
local_config.py
tmp

*.serverless/

.DS_Store